.add-participants .players-table {
  
  border-collapse: collapse;
  width: 30%;
  margin-left:auto; 
  margin-right:auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.players-table table {
  border: solid 1px;
  width: 100%;
  margin-top: 5px;
}

.generate-board {
  margin-top: 50px;
}
.generate-board  a {
  background-color: #405d27;
  color: white;
  padding: 20px;
  text-decoration: none;
  border-radius: 10px;
}